.social {
    list-style-type: none;
    padding: 0;
}

.social li {
    display: inline-block;
    margin: 5px 15px;
    font-size: 40px;
}
/*
Contact footer begin
*/

#contact .container .box.last {
    background-color: #002454;
    color: #EEEEEE;
    border-radius: 0 0 10px 10px;
}

.social .icon-social {
    color: #FFFFFF;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    padding: 10px;
}

.social .fa-facebook {
    background-color: #43609C;
}
.social .fa-youtube {
    background-color: #CC181E;
}
.social .fa-google-plus {
    background-color: #03A9F4;
}
.social .fa-pinterest {
    background-color: #BB232C;
}
.social .fa-linkedin {
    background-color: #1B86BC;
}
.social .fa-twitter {
    background-color: #1DA1BC;
}

/*
Services begin
*/
.color1 {
    color: red;
}
.color2 {
    color: green;
}
.color3 {
    color: blue;
}
.color4 {
    color: purple;
}
.color5 {
    color: teal;
}
.color6 {
    color: darkblue;
}

.icon-serv {
    margin: 10px;
}
@media (min-width: 768px) {
    .col-sm-6:nth-child(2n + 1) {
        clear: both;
    }
}
@media (min-width: 992px) {
    .col-sm-6:nth-child(2n + 1) {
        clear: none;
    }
}


/*
Person list begin
*/
.carousel.scale .left-arrow, .carousel.scale .right-arrow {
    top: 30%;
    position: absolute;
}
.carousel.scale .right-arrow {
    right: -5px;
}
.carousel.scale .left-arrow {
    left: -5px;
}
.person {
    margin: auto 30px;
}