body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #DFDFDF;
    color: #002454;
}
* {
    box-sizing: border-box;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
/*[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}*/

header#header {
    height: 80px;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-brand {
    margin: 0 50px;
}

.navbar-default {
    overflow: hidden;
}

.navbar-default .navbar-nav>li>a {
    color: #002454;
}

.center {
    text-align: center;
}

.layout > .row {

}

body.edit header#header {
    position: relative;
}

.layout .xp-part {
    margin: 50px 0;
}
.xp-part {

}
.site-home li {
    font-size: 20px;
}

.box {
    padding: 50px 30px;
    background: #FFFFFF;
    border-radius: 5px;
}