body {
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #DFDFDF;
    color: #555555;
}
[data-portal-component-type="part"], [data-portal-component-type="text"], [data-portal-component-type="image"] {

    padding: 0 0 40px;
}
[data-portal-component-type="layout"] {

}
.layout > .row {

}
.layout-box {
    overflow: hidden;
    padding-top: 50px;
}
.layout.bg-light .layout-box {
    background-color: #EEEEEE;
}
.layout.bg-dark .layout-box {
    background-color: #CCCCCC;
}
.layout.bg-none .layout-box {
    background-color: #DFDFDF;
}
.noPadding .layout-box {
    padding-top: 0;
}
.layout {
    position: relative;
    z-index: 3;
}
body.edit .layout {
    position: inherit; /*Prevent part selector dropdown from being hidden in page editor*/
    /*margin-bottom: 40px; *//*Testing for edit to move layouts around.*//*
    padding-bottom: 40px;*/
}
body.edit .layout-box {
    overflow: visible;
}
.first-layout .layout-box {
    border-radius: 5px 5px 0 0;
}
body.behind {
    padding-top: 0px;
    margin-top: -10px;
}
body.edit.behind {
    margin-top: 0;
    padding-top: 0;
}
  /* Make second layout or part move up into the top part when the content goes under the menu */
body.behind .main-region > *:first-child {
    margin-bottom: -80px;
}


h1, h2, h3, h4, h5, h6 {
    color: #002454;
    font-weight: 300;
}
h1, h2, h3 {
    margin-top: 0;
}
@media (min-width: 768px) {
    .lead {
        font-size: 18px;
    }
}
* {
    box-sizing: border-box;
}

.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}

header#header {
    height: 80px;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-brand {
    margin: 0 50px;
}

.navbar-default {
    overflow: hidden;
}

.navbar-default .navbar-nav>li>a {
    color: #002454;
}

.center {
    text-align: center;
}


body.edit header#header {
    position: relative;
}

.site-home li {
    font-size: 20px;
}

.box {
    padding: 0 30px;
}